body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav {
    background: #78a6db;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: rgb(13, 1, 1);
    text-decoration: none;
    font-size: 18px;
}
h1 {
    color: rgb(9, 9, 61);
}
a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: black;
}
img {
    width: 300px;
    height: auto;
    margin: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}